{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<br>

<div class="row">
    <div class="col-md-3">
        <div class="card card-body">

            <h3>Timeslot Selection</h3>
            <br>

            <form method="POST" action="" onsubmit="openLoader()">
                {% csrf_token %}
                
                <h5>Start Time:</h5>
                <select id="start_time" name="start_time" class="form-control">
                    {% for timeslot in timeslots %}
                        <option name="start_time" value="{{ timeslot }}">{{timeslot.start_time|time:"H:i"}}</option>
                    {% endfor %}
                </select>

                <br>
                
                <h5>End Time:</h5>
                <select id="end_time" name="end_time" class="form-control">
                    {% for timeslot in timeslots %}
                        <option name="end_time" value="{{ timeslot }}">{{timeslot.end_time|time:"H:i"}}</option>
                    {% endfor %}
                </select>

                <br>

                <input id="submitButton" class="btn btn-sm btn-success" type="submit" name="Submit">
            </form>

            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
</div>
<script>

function openLoader(event) {
    // Prevent form submission to allow the button changes to take effect
    event.preventDefault();
    
    const submitButton = document.getElementById("submitButton");
    
    // Disable the button and set it to loading state
    submitButton.disabled = true;
    submitButton.innerHTML = `
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Processing...
    `;
    
    // Submit the form after a short delay to simulate processing time
    setTimeout(() => {
        event.target.submit(); // Submit the form
    }, 3000); // Adjust the delay as needed
}
</script>
{% endblock %}

